<h2 id="title">This is my Rainbow Tail Dummy App</h2>

<h1 class="yellow">hello this is a header with a yellow class</h1>

<button class=yellow>hello this is button with a yellow class</button>

{{rainbow-tail rainbowClass='yellow'}}
